*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    overflow-x: hidden;
    font-family: 'Prompt', sans-serif;
}

:root{
    --purple:#12045f;
    --light-blue: rgb(26, 101, 231);
    --sky-blue:#e1f6fd;
    --green:#9fe1ee;
    --member-p:rgb(79, 78, 78)
}


/*------------Header------------*/
header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #daedf4;
}

header #nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:80%;

}

header #nav #links{
    display: flex;
    align-items: center;
    width: 400px;
}

.purple-circle{
    width:30px;
    height: 30px;
    border-radius: 50%;
    border: 7px solid var(--purple);
    background-color: transparent;
}

header #nav #links #link-list{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

#nav #links #link-list li{
    list-style: none;
    margin: 0 10px;
}

#nav #links #link-list li a{
    text-decoration: none;
    color: var(--purple);
    font-size: 1.1rem;
}
#nav #links #link-list li a:hover{
    color: var(--light-blue);
}
header #nav #call-back-btn{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 14px 15px;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: bold;
    transition: all 0.3ms;

}
header #nav #call-back-btn:hover{
    border-color: var(--light-blue);
    color: var(--light-blue);
    transition: all 0.3ms;
}


header #header-text{
    width: 70%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

header #header-text p{
    font-size: 1.1rem;
    width: 50%;
    text-align: center;
}

header #header-text h1{
    font-size: 3rem;
    line-height: 50px;
    text-align: center;
}

header #bottom-arrow{
    color: var(--purple);
    font-size: 2.5rem;
    animation-name: chervon;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes chervon{
    50%{
        transform: translateY(10%); 
    }
    100%{
        transform: translateY(0%); 

    }
}

/* main */
/*------------company-options------------*/
.title{
    color: gray;
    font-weight: bold;
}

main{
    background-color: var(--green);
    width: 100vw;
    height: 100%;
}
main .container{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

#company-options{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
}

.info-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#company-options div img{

}

.description{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.description *{
    margin: 7px 0;
}

.description .title{
    align-items: flex-start;
    letter-spacing: 3px;
}

.description h1{
    font-size: 2rem;
}

.description p{
    font-size: 1.1rem;
    color: gray;

}   


section #services img{
    order: 2;
}

section #process{
    margin-top: 5px;

}

section #process img{
    
}

/*------------ Clients------------*/

main #clients{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#clients #client-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3%;
}

#clients #client-items img{
    background-color: white;
    width: 220px;
    height: 110px;
    margin: 10px 0;
    padding: 0 40px;
}

/*------------ call to action------------*/
.container #call-action{
    height: 100vh;
    display: flex;

}

.container > #call-action{
 
}

/*------------call-action left ------------*/
.container #call-action #left{
    flex: 1;
    border: 1px solid rgba(128, 128, 128, 0.502);
    border-left: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container #call-action #left .contaier{
   height: 100%;
   width: 90%;
}

.container #call-action #left .contaier h1,p,form{
    margin: 12px 0;
}
.container #call-action #left .contaier h1{
    font-weight: 500;
    font-size: 2rem;
}
.container #call-action #left .contaier p{
    color: gray;
    line-height: 20px;
    width: 70%;
}
.container #call-action #left .contaier form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.container #call-action #left .contaier form input,select,button{
    width: 100%;
    margin: 10px 0;
    padding: 15px 10px;
    border-radius: 5px;

}
.container #call-action #left .contaier form input,select{
    outline: none;
    border: 1px solid  rgb(57, 186, 237);
}
.container #call-action #left .contaier form select{

}
.container #call-action #left .contaier form select option{

}

.container #call-action #left .contaier form #call-action-btn{
    background-color: var(--light-blue);
    border: none;
    color:#fff;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    transition: all 0.3s;
}
.container #call-action #left .contaier form #call-action-btn:hover{
    background-color: rgb(40, 40, 241);
    transition: all 0.3s;
}



/*------------call-action right ------------*/
.container #call-action #right{
    flex:1;
    border: 1px solid rgba(128, 128, 128, 0.502);
    border-right: none;
    border-left: none;
  

}

.container #call-action #right .container{
    height: 70%;
    display: flex;
    align-items: center;
    margin-top: 12%;
}

.container #call-action #right .item{
    display: flex;
    height: 150px;
    width: 300px;
    justify-content: space-between;
    margin: 5px 0;
}

.container #call-action #right .item i{
    font-size: 2.2rem;
    color: var(--light-blue);
    width: 10%;
}

.container #call-action #right .item .detail{
    width:80%;
}

.container #call-action #right .item .detail h2{
    font-size: 1rem;   
}

.container #call-action #right .item .detail p{
    line-height: 16px;
    color: gray;
    font-size: 0.7rem;
}

/*------------ TEAM ------------*/
main .container #team{
    min-height: 100vh;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main .container #team .info-content img{
    order: 2;
}

.container #team #team-members{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height:350px ;
    margin-top: 50px;
}   

.container #team #team-members .item{
    width: 400px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container #team #team-members .item img{

}

.container #team #team-members .item .item-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
    width: 60%;
}
.container #team #team-members .item .item-info p{
    line-height: 20px;
    color: var(--member-p);
}

.container #team #team-members .item .item-info .member-name{
    font-weight: bold;
    font-size: 0.9rem;
    letter-spacing: 3px;
}
.container #team #team-members .item .item-info .member-job {
    font-size: 0.9rem;
}



/*------------ culture ------------*/

#culture{
    height: 60vh;
    margin-top: 100px;
}

.img-left-content{
    
}

.img-left-content .description{
    order: 2 !important;
}


/*------------ Footer ------------*/
footer{
    width: 100vw;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .container{
    width: 70%;
    min-height: 50%;  
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

footer .container .item{
    flex-direction: column;
    display: flex;
    justify-content:space-between;
    width: 300px;
    min-height: 150px;
}

footer .container .item .top,.bottom{
    height: 100%;
}

footer .container .item  h1{
    letter-spacing: 3px;
    color: var(--purple);
    font-weight: bold !important;
    position: relative;
}
footer .container .item  h1 >span{
    position: absolute;
    left: -15%;
    top: 0;
}

footer .container .item h1,p,pre{
    font-size: 0.8rem;

}

footer .container .item p,pre{
    margin: 15px 0;
}

footer .container .item  p,pre,ul>li{
    color: gray;
    list-style: none;
}

footer .container .item ul li{
    font-size: 0.8rem;
    margin: 8px 0;
}

footer .container .item .bottom{
    
}
